name = "Bcube"
uuid = "cf06320b-b7f3-4748-8003-81a6b6979792"
authors = ["Ghislain Blanchard, Lokman Bennani and Maxime Bouyges"]
version = "0.1.7"

[deps]
FEMQuad = "be8e8821-3f6f-54c2-987c-d2773c3a52cb"
FastGaussQuadrature = "442a2c76-b920-505d-bb47-c5924d526838"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
LinearSolve = "7ed4a6bd-45f5-4d41-b270-4a48e9bafcae"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
Symbolics = "0c5d862f-8b57-4792-8d23-62f2024744c7"
WriteVTK = "64499a7a-5c06-52f2-abe2-ccb03c286192"
gmsh_jll = "630162c2-fc9b-58b3-9910-8442a8a132e6"

[compat]
FEMQuad = "0.3"
FastGaussQuadrature = "0.4, 0.5"
ForwardDiff = "0.10"
LinearSolve = "1, 2"
StaticArrays = "1.2"
Symbolics = "5"
WriteVTK = "1.12"
julia = "1.6"
JLD2 = "0.4.47"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]

[weakdeps]
JLD2 = "033835bb-8acc-5ee8-8aae-3f567f8a3819"

[extensions]
JLD2Ext = "JLD2"
